<html>

<head>
    <title>
        <%=title%>
    </title>
    <%-include('../partial/_bootstrap.ejs')%>
    <link rel="stylesheet" href="/CSS/Adminlogin.css" />

</head>

<body>
    <div class="loginbox">
        <h1>hrloo i am in view page</h1>

    </div>
</body>

</html>
</body>