<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/CSS//admin_home.css">
    <title>SideBar Menu</title>
</head>

<body>

    <nav>
        <!-- <label><a href=""><img
                    src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgcL6jUiu1spLJziQMR3i4FI2bW3YSVkGhyA&usqp=CAU"
                    alt=""></a></label>-->
        <label>CakeOnDoor</label>
        <ul>
            <li><button href="/" class="btn btn-primary">Logout</button></li>
        </ul> <label for="menu" class="menu-bar"> <i class="fa fa-bars"></i> </label>
    </nav>
    <div class="side-menu">
        <center> <img src=https://images.pexels.com/photos/2144200/pexels-photo-2144200.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500>
            <br><br>
            <h2>Admin</h2>
        </center> <br> <a href="/product/add-product"><i class="fa fa-user"></i><span>AddProduct</span></a>
        <a href="#"><i class="fa fa-envelope"></i><span>Message</span></a>
        <button type="button" class="btn btn-primary fa fa-sellsy" data-toggle="modal" data-target="#exampleModalCenter">
            Add category
          </button>
        <a href="#"><i class="fa fa-sellsy"></i><span>Statistices</span></a>
        <a href="#"><i class="fa fa-ban"></i><span>Ban Customers</span></a>
        <a href="#"><i class="fa fa-cog"></i><span>Setting</span></a>
        
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
                <form action="/category/add" method="POST" enctype="multipart/form-data">
                    <div class="form-group" >
                        <label class="text">Category Name</label>
                        <input type="text" name="categoryName" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="text" >Category Image</label>
                        <input type="file" name="categoryImage"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
              </div>
          </div>
        </div>
      </div>
</body>

</html>