<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title%></title>
    <%-include('partial/_bootstrap.ejs')%>
    <link rel="stylesheet" href="/CSS/Adminlogin.css" />
</head>

<body>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-6 form_div">
                <form method="post" action="/login" class="admin-login-form">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="cusEmail" id="cusEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="cusPassword" id="cusPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="form-group">
                        <h4><a href="/signup">New user ?</a></h4>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <div class="loginbox">
        <img src="/images/loginnnnn.png" class="logo">
        <h1>Login Here</h1>
        <form action="/login" method="post">
            <p>Email </p>
            <input type="email" name="cusEmail" placeholder="Enter your email">
            <p>Password</p>
            <input type="password" name="cusPassword" placeholder="Enter your Password">
            <input type="submit" name="" value="Login ">
            <a href="/signup">New User ?</a>
        </form>

    </div>

</body>

</html>