<html>
    <html>
    <head>
        <title> Admin Login Form </title>
        <link rel="stylesheet"  href="../style.css/forgotpass.css">
    </head>
    <body>
      <div class="loginbox" >
        <img src="../image/forgotlogo.png" class="logo" >
        <h4>Forgot Password</h4>
        <h5>Enter your email and we'll send you a link to reset your password</h5>
                 <form>
                     <p> Enter your Email</p>
                   <input type="text" name="" placeholder="Enter your email"><br>
                   <input type="submit" name="" value="Send OTP" >
                   <p>Enter OTP</p>
                   <input type="text" name="" placeholder="Enter your otp"><br>
                   <input type="submit" name="" value="Submit">
                 </form>

      </div>
    </body>
</html> 
</html>